<h1>新增書</h1>

<form action="{% url 'books:index' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="title">書名</label>
        <input name="title" type="text">
    </div>
    <div>
        <label for="publisher">出版商</label>
        <input name="publisher" type="text">
    </div>
    <div>
        <label for="publication_date">出版日期</label>
        <input name="publication_date" type="date">
    </div>
    <div>
        <label for="price">價格</label>
        <input name="price" type="number">
    </div>
    <div>
        <label for="page">頁數</label>
        <input name="page" type="number">
    </div>
    <input type="submit" value="新增">
</form>